*{
    margin-left: 0;
    text-align: center;
    padding: 0;
    background-blend-mode: darken;
}
body {
    background-color: #efefef;
    color: #030303;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-style: italic
}
a {
    color: #030303;
}
li {  
    display: inline;
    padding: 20px;
}
main {
    display: flex;
}
#header {
    color:  #ec5d5d;
}
#nav{
    background-color: #618a98;
    padding: 10px 0px 10px 0px;
    margin: 5px;
    height: 40px;
}
#news {
    background-color: #618a98;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}
#archives {
    margin:5px;
    padding: 10px;
    height: 125px;
}
#local-news {
    background-color: #618a98;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    height: 175px;
}
#search{
    background-color:  #ec5d5d;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    height: 125px;
}
#calendar {
    background-color: #618a98;
    padding: 10px 0px 5px 0px;
    margin: 5px;
    height: 435px;
}
#login{
    background-color: #618a98;
    padding: 10px 10px 10px 0px;
    margin: 5px; 
    height: 125px;
}
#student-archives{
    background-color: #618a98;
    padding: 10px 0px 5px 0px;
    margin: 5px;
    height: 350px;
}
#search-2 {
    background-color:  #ec5d5d;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    height: 125px;
}
#teacher-archives {
    background-color: #618a98;
    padding: 10px 0px 10px 0px;
    margin: 5px;
    height: 150px;
}        
#contact {
    background-color:  #ec5d5d;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    height: 175px;
    font-style: italic;
}  
#infographic-students {
    height: 550px;
    color:#ec5d5d
}
#infographic-teachers {
    margin: 5px;
    padding: 10px 0px 5 px 0px;
}
#footer{
    margin: 10px;
}

